@font-face {
    font-family: "verdana";
    src: url("verdana-bold.ttf");
}



#myVideo 
{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

body
{

    font-family: verdana, Helvetica, sans-serif;
    color: white;

    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: column;
    margin-top:5em;
    text-align: center;
    font-size: 2.5em;
}

#text_box
{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0.9;
    text-shadow: 0px 1px 5px black;

    
}



#copy
{
    font-family: futura_meduim,Arial, Helvetica, sans-serif;
    margin-top: 14em;
    display: flex;
    opacity: 0.5;
    font-size: 0.5em;
}